<% provide(:title, 'Conversacion') %>
<section class="content-header">
  <h1 style="visibility: hidden;">Conversacion</h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to messages_index_path, 'data-no-turbolink' => false do %><i class="fa fa-envelope"></i> Todos los
          mensajes
      <% end %>
    </li>
    <li class="active">Chat</li>
  </ol>
</section>
<section class="content">
  <!-- Direct Chat -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
      <!-- DIRECT CHAT PRIMARY -->
      <div class="box box-primary direct-chat direct-chat-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Chat con <%= @message.subject_user.nameAndLastname %></h3>
          <div class="box-tools pull-right">
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <!-- Conversations are loaded here -->
          <div class="direct-chat-messages">
            <!-- Message. Default to the left -->
            <% if @messages.any? %>
                <% @messages.each do |message| %>
                    <div class="direct-chat-msg <%= message.sender_user.id == current_user.id ? 'right' : '' %>">
                      <div class="direct-chat-info clearfix">
                        <%= link_to message.sender_user, 'data-no-turbolink' => false, id: "sin-subrayar", style: "color: black!important" do %>
                          <span class="direct-chat-name <%= message.sender_user.id == current_user.id ? 'pull-right' : 'pull-left' %>">
                            <%= message.sender_user.nameAndLastname %>
                          </span>
                        <% end %>
                        <span class="direct-chat-timestamp <%= message.sender_user.id == current_user.id ? 'pull-left' : 'pull-right' %>">
                          <%= time_ago_in_words(message.created_at) %>
                        </span>
                      </div>
                      <!-- /.direct-chat-info -->
                      <%= link_to message.sender_user, 'data-no-turbolink' => false do %>
                          <img class="direct-chat-img info-box-image" style="<%= message.sender_user.id == current_user.id ? 'margin-right: 0px!important' : '' %>" src="<%= message.sender_user.user_image %>">
                      <% end %>
                      <div class="direct-chat-text">
                        <%= message.text %>
                      </div>
                      <!-- /.direct-chat-text -->
                    </div>
                <% end %>
            <% end %>
            <!-- /.direct-chat-msg -->
          </div>
          <!--/.direct-chat-messages-->
          <!-- /.direct-chat-pane -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <%= form_for @message, :html => {:multipart => true} do |new_message| %>
              <div class="input-group">
                <%= new_message.text_field :text, class: 'form-control', placeholder: "Escribe un mensaje ..." %>
                <input type="hidden" name="subject_user" name="subject_user" value="<%= @message.subject_user.id %>"/>
                <span class="input-group-btn">
                      <%= new_message.submit 'Enviar', class: "btn btn-primary btn-flat" %>
                      </span>
              </div>
          <% end %>
        </div>
        <!-- /.box-footer-->
      </div>
      <!--/.direct-chat -->
    </div>
    <!-- /.col -->
  </div>
</section>