<section class="content-wrapper" style="margin-left: 0px!important; border-left: 0px!important;">
  <section class="content">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <% if @cursos_inscriptos.any? %>
            <!-- The time line -->
            <ul class="timeline">
              <li class="time-label">
                  <span class="bg-green">
                    Año 2016  <!-- TODO: hacer que segun el año me vaya agregando uno de estos -->
                  </span>
              </li>
              <!-- timeline item -->
              <% @cursos_inscriptos.each do |curso| %>
                  <li>
                    <i class="fa fa-user bg-aqua"></i> <!-- TODO que sea un icono segun categoria?? si es deporte una pelota, si es matematica un libro, etc -->
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-calendar"></i>
                          <%= curso.fecha_inicio.strftime("%d/%m/%Y") + " - " + curso.fecha_fin.strftime("%d/%m/%Y") %></span>
                      <h3 class="timeline-header">
                        <a><%= link_to curso.nombre, curso, 'data-no-turbolink' => false %></a></h3>
                      <div class="timeline-body">
                        <strong><%= curso.descripcion %></strong><br>
                        <%= curso.contenido %>
                      </div>
                      <div class="timeline-footer">
                        <h6><%= "Lugares disponibles: " + curso.cupos.to_s %></h6>
                        <h6><i class="fa fa-map-marker"></i> <%= curso.location.address %></h6>
                        <%= link_to "Ver más", curso, class: "btn btn-primary btn-xs", 'data-no-turbolink' => false %>
                        <% if !esta_finalizado(curso) and !esta_inscripto_a(curso) and !es_profesor_de(curso) %>
                            <%= link_to 'Inscribirme', new_inscripto_path(:curso_id => curso.id), class: "btn btn-danger btn-xs", 'data-no-turbolink' => false %>
                        <% end %>
                      </div>
                    </div>
                  </li>
              <% end %>
              <li>
                <i class="fa fa-clock-o bg-gray"></i>
              </li>
              <!-- END timeline item -->
            </ul>
        <% else %>
            <div class="col-md-8 col-md-offset-2">
              <% if @user == current_user %>
                  <h3 align="center" style="margin-top: 50px!important; line-height: 200%">
                    <i class="fa fa-pencil"></i>
                    Todavía no has realizado ningún curso.<br>
                    ¡Animate a aprender
                    con <%= link_to "Sumemos Uno Más!", que_es_path, 'data-no-turbolink' => 'false' %><br>
                    Mirá todos los <%= link_to "cursos", listado_cursos_path, 'data-no-turbolink' => 'false' %> que
                    tenemos para vos.
                  </h3>
              <% else %>
                  <h3 align="center" style="margin-top: 50px!important; line-height: 200%;">
                    <i class="fa fa-bullhorn"></i>
                    <%= @user.nameAndLastname %> todavía no ha asistido a ningún curso.<br>
                  </h3>
              <% end %>
            </div>
        <% end %>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</section>