<!--   TimeLine Recursos -->
<!-- Content Wrapper. Contains page content -->
<section class="content-wrapper" style="margin-left: 0!important; border-left: 0!important;">
  <!-- Main content -->
  <section class="content">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <!-- The time line -->
        <% if @curso.recursos_solicitados.any? %>
            <ul class="timeline">
              <li class="time-label">
                <i class="fa fa-shopping-cart bg-primary"></i>
              </li>
              <% @recursos_solicitados.each_with_index do |recurso, index| %>
                  <!-- timeline item -->
                  <li>
                    <div class="timeline-item">
                      <% if es_profesor_de(@curso) %>
                            <span class="time">
                            <a><%= link_to "", edit_recurso_path(recurso), class: 'fa fa-pencil-square-o fa-lg', 'data-no-turbolink' => false %></a></span>
                      <% end %>
                      <h3 class="timeline-header"><a><%= (index + 1).to_s + ". " %> <%= recurso.nombre %></a></h3>
                      <h6 class="timeline-header-small"><i class="fa fa-calendar"> </i>
                        <%= recurso.created_at.strftime("%d/%m/%Y") %></h6>
                      <h5 class="timeline-body">
                        Descripción: <%= recurso.description %><br><br>
                        Categoría: <%= recurso.tipe %>
                      </h5>

                      <div class="timeline-footer">
                        <% if es_profesor_de(@curso) %>
                            <%= link_to "Lo conseguí!", conseguido_path(recurso),
                                        class: "btn btn-success btn-xs", 'data-no-turbolink' => false %>
                        <% else %>
                            <%= link_to "Dar material", send_messages_recurso_path(recurso),
                                        class: 'btn btn-danger btn-xs', 'data-no-turbolink' => false %>

                        <% end %>
                      </div>
                    </div>
                  </li>
              <% end %>
              <!-- END timeline item -->
              <li>
                <i class="fa fa-clock-o bg-gray"></i>
              </li>
            </ul>
        <% else %>
            <p>No se solicitó ningún material</p>
        <% end %>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</section>
<!--./ TimeLine Clases del curso -->


