<div class="form-horizontal">
  <%= render :partial => 'shared/error_messages', :locals => {:errors => payment_type.errors} %>
  <%= fields_for 'payment_type[]', payment_type do |pay_fields| %>
      <div class="form-group has-feedback">
        <%= pay_fields.label :name, "Nombre:", class: "control-label col-sm-2" %>
        <div class="col-sm-8">
          <%= pay_fields.text_field :name, class: 'form-control', placeholder: "Nombre" %>
          <i class="fa fa-pencil form-control-feedback" aria-hidden="true"></i>
        </div>
      </div>
      <div class="form-group has-feedback">
        <%= pay_fields.label :description, "Descripción:", class: "control-label col-sm-2" %>
        <div class="col-sm-8">
          <%= pay_fields.text_area :description, class: 'form-control',
                          placeholder: "Descripción de la forma de pago" %>
          <i class="fa fa-bars form-control-feedback" aria-hidden="true"></i>
        </div>
      </div>
      <div class="form-group has-feedback">
        <%= pay_fields.label :tipe, "Tipo:", class: "control-label col-sm-2" %>
        <div class="col-sm-3">
          <%= pay_fields.select(:tipe, options_for_select([['Todo Pago', 'Todo Pago']], payment_type.tipe), {:class => 'form-control'}) %>
        </div>
      </div>
      <div class="form-group has-feedback">
        <%= pay_fields.label :authorization, "Código Autorización:", class: "control-label col-sm-2" %>
        <div class="col-sm-8">
          <%= pay_fields.text_field :authorization, class: 'form-control', placeholder: "Todo Pago: Codigo autorización" %>
          <i class="fa fa-check form-control-feedback" aria-hidden="true"></i>
        </div>
      </div>
      <div class="form-group has-feedback">
        <%= pay_fields.label :merchant, "Id:", class: "control-label col-sm-2" %>
        <div class="col-sm-8">
          <%= pay_fields.text_field :merchant, class: 'form-control', placeholder: "Todo Pago: Identificador" %>
          <i class="fa fa-key form-control-feedback" aria-hidden="true"></i>
        </div>
      </div>
  <% end %>
</div>
